nav{
    background-color: #459C98;
}
.navbar-brand{
    color: white !important;
    border: 3px solid transparent ;
    cursor: default;
}
.nav-link{
    color: white !important;
    margin: 0px 3px;
    border-radius:10px ;
}
.nav-link:hover{
    color: #FFFFFF !important;
    border-bottom: 3px solid #FFFFFF;
}
.active_class{
    color: #000000 !important;
    border-bottom: 3px solid black;
}